:root {
    --primaryColour: #E61261;
    --primaryColourRGB: 230,18,97;
    --primaryColourContrast: #fff;
    --secondaryColour: #00B7ED;
    --secondaryColourRGB: 0,183,237;
    --secondaryColourContrast: #fff;
    --tertiaryColour: #F8AF07;
    --tertiaryColourRGB: 248 175 7;
    --tertiaryColourContrast: #fff;

}

:root {
    --darken: rgba(1, 1, 1, 0.075);
    --white: #fff;

    --bg-colour: #f7f7f7;

    --blue-lightest: var(--blue-1);
    --blue-lighter: var(--blue-3);
    --blue-light: var(--blue-8);
    --blue: var(--blue-10);
    --blue-dark: var(--blue-12);
    --blue-darker: var(--blue-17);
    --blue-darkest: var(--blue-19);
    --blue-1: #e6f2ff;
    --blue-2: #cce4ff;
    --blue-3: #b3d7ff;
    --blue-4: #99caff;
    --blue-5: #80bdff;
    --blue-6: #66afff;
    --blue-7: #4da2ff;
    --blue-8: #3395ff;
    --blue-9: #1a87ff;
    --blue-10: #007aff;
    --blue-11: #006ee6;
    --blue-12: #0062cc;
    --blue-13: #0055b3;
    --blue-14: #004999;
    --blue-15: #003d80;
    --blue-16: #003166;
    --blue-17: #00254c;
    --blue-18: #001833;
    --blue-19: #000c19;
    --green-lightest: var(--green-1);
    --green-lighter: var(--green-3);
    --green-light: var(--green-8);
    --green: var(--green-10);
    --green-dark: var(--green-12);
    --green-darker: var(--green-17);
    --green-darkest: var(--green-19);
    --green-1: #ebf9ee;
    --green-2: #d6f4de;
    --green-3: #c2eecd;
    --green-4: #aee9bd;
    --green-5: #9ae3ac;
    --green-6: #85dd9b;
    --green-7: #71d88b;
    --green-8: #5dd27a;
    --green-9: #48cd6a;
    --green-10: #34c759;
    --green-11: #2fb350;
    --green-12: #2a9f47;
    --green-13: #248b3e;
    --green-14: #1f7735;
    --green-15: #1a642d;
    --green-16: #155024;
    --green-17: #103c1b;
    --green-18: #0a2812;
    --green-19: #051409;
    --indigo-lightest: var(--indigo-1);
    --indigo-lighter: var(--indigo-3);
    --indigo-light: var(--indigo-8);
    --indigo: var(--indigo-10);
    --indigo-dark: var(--indigo-12);
    --indigo-darker: var(--indigo-17);
    --indigo-darkest: var(--indigo-19);
    --indigo-1: #eeeefb;
    --indigo-2: #deddf7;
    --indigo-3: #cdccf3;
    --indigo-4: #bcbbef;
    --indigo-5: #acabeb;
    --indigo-6: #9b9ae6;
    --indigo-7: #8a89e2;
    --indigo-8: #7978de;
    --indigo-9: #6967da;
    --indigo-10: #5856d6;
    --indigo-11: #4f4dc1;
    --indigo-12: #4645ab;
    --indigo-13: #3e3c96;
    --indigo-14: #353480;
    --indigo-15: #2c2b6b;
    --indigo-16: #232256;
    --indigo-17: #1a1a40;
    --indigo-18: #12112b;
    --indigo-19: #090915;
    --orange-lightest: var(--orange-1);
    --orange-lighter: var(--orange-3);
    --orange-light: var(--orange-8);
    --orange: var(--orange-10);
    --orange-dark: var(--orange-12);
    --orange-darker: var(--orange-17);
    --orange-darkest: var(--orange-19);
    --orange-1: #fff4e6;
    --orange-2: #ffeacc;
    --orange-3: #ffdfb3;
    --orange-4: #ffd599;
    --orange-5: #ffca80;
    --orange-6: #ffbf66;
    --orange-7: #ffb54d;
    --orange-8: #ffaa33;
    --orange-9: #ffa01a;
    --orange-10: #ff9500;
    --orange-11: #e68600;
    --orange-12: #cc7700;
    --orange-13: #b36800;
    --orange-14: #995900;
    --orange-15: #804b00;
    --orange-16: #663c00;
    --orange-17: #4c2d00;
    --orange-18: #331e00;
    --orange-19: #190f00;
    --pink-lightest: var(--pink-1);
    --pink-lighter: var(--pink-3);
    --pink-light: var(--pink-8);
    --pink: var(--pink-10);
    --pink-dark: var(--pink-12);
    --pink-darker: var(--pink-17);
    --pink-darkest: var(--pink-19);
    --pink-1: #ffeaee;
    --pink-2: #ffd5dd;
    --pink-3: #ffc0cc;
    --pink-4: #ffabbb;
    --pink-5: #ff96aa;
    --pink-6: #ff8199;
    --pink-7: #ff6c88;
    --pink-8: #ff5777;
    --pink-9: #ff4266;
    --pink-10: #ff2d55;
    --pink-11: #e6294d;
    --pink-12: #cc2444;
    --pink-13: #b31f3b;
    --pink-14: #991b33;
    --pink-15: #80172b;
    --pink-16: #661222;
    --pink-17: #4c0d19;
    --pink-18: #330911;
    --pink-19: #190408;
    --purple-lightest: var(--purple-1);
    --purple-lighter: var(--purple-3);
    --purple-light: var(--purple-8);
    --purple: var(--purple-10);
    --purple-dark: var(--purple-12);
    --purple-darker: var(--purple-17);
    --purple-darkest: var(--purple-19);
    --purple-1: #f7eefc;
    --purple-2: #efdcf8;
    --purple-3: #e7cbf5;
    --purple-4: #dfbaf2;
    --purple-5: #d7a9ef;
    --purple-6: #cf97eb;
    --purple-7: #c786e8;
    --purple-8: #bf75e5;
    --purple-9: #b763e1;
    --purple-10: #af52de;
    --purple-11: #9e4ac8;
    --purple-12: #8c42b2;
    --purple-13: #7a399b;
    --purple-14: #693185;
    --purple-15: #58296f;
    --purple-16: #462159;
    --purple-17: #341943;
    --purple-18: #23102c;
    --purple-19: #110816;
    --red-lightest: var(--red-1);
    --red-lighter: var(--red-3);
    --red-light: var(--red-8);
    --red: var(--red-10);
    --red-dark: var(--red-12);
    --red-darker: var(--red-17);
    --red-darkest: var(--red-19);
    --red-1: #ffebea;
    --red-2: #ffd8d6;
    --red-3: #ffc4c1;
    --red-4: #ffb1ac;
    --red-5: #ff9d98;
    --red-6: #ff8983;
    --red-7: #ff766e;
    --red-8: #ff6259;
    --red-9: #ff4f45;
    --red-10: #ff3b30;
    --red-11: #e6352b;
    --red-12: #cc2f26;
    --red-13: #b32922;
    --red-14: #99231d;
    --red-15: #801e18;
    --red-16: #661813;
    --red-17: #4c120e;
    --red-18: #330c0a;
    --red-19: #190605;
    --teal-lightest: var(--teal-1);
    --teal-lighter: var(--teal-3);
    --teal-light: var(--teal-8);
    --teal: var(--teal-10);
    --teal-dark: var(--teal-12);
    --teal-darker: var(--teal-17);
    --teal-darkest: var(--teal-19);
    --teal-1: #effaff;
    --teal-2: #def4fe;
    --teal-3: #ceeffe;
    --teal-4: #bde9fd;
    --teal-5: #ade4fd;
    --teal-6: #9cdefc;
    --teal-7: #8cd9fc;
    --teal-8: #7bd3fb;
    --teal-9: #6bcefb;
    --teal-10: #5ac8fa;
    --teal-11: #51b4e1;
    --teal-12: #48a0c8;
    --teal-13: #3f8caf;
    --teal-14: #367896;
    --teal-15: #2d647d;
    --teal-16: #245064;
    --teal-17: #1b3c4b;
    --teal-18: #122832;
    --teal-19: #091419;
    --yellow-lightest: var(--yellow-1);
    --yellow-lighter: var(--yellow-3);
    --yellow-light: var(--yellow-8);
    --yellow: var(--yellow-10);
    --yellow-dark: var(--yellow-12);
    --yellow-darker: var(--yellow-17);
    --yellow-darkest: var(--yellow-19);
    --yellow-1: #fffae6;
    --yellow-2: #fff5cc;
    --yellow-3: #fff0b3;
    --yellow-4: #ffeb99;
    --yellow-5: #ffe680;
    --yellow-6: #ffe066;
    --yellow-7: #ffdb4d;
    --yellow-8: #ffd633;
    --yellow-9: #ffd11a;
    --yellow-10: #ffcc00;
    --yellow-11: #e6b800;
    --yellow-12: #cca300;
    --yellow-13: #b38f00;
    --yellow-14: #997a00;
    --yellow-15: #806600;
    --yellow-16: #665200;
    --yellow-17: #4c3d00;
    --yellow-18: #332900;
    --yellow-19: #191400;
    --grey-lightest: var(--grey-1);
    --grey-lighter: var(--grey-3);
    --grey-light: var(--grey-8);
    --grey: var(--grey-10);
    --grey-dark: var(--grey-12);
    --grey-darker: var(--grey-17);
    --grey-darkest: var(--grey-19);
    --grey-1: #f5f5f5;
    --grey-2: #e6e6e6;
    --grey-3: #d9d9d9;
    --grey-4: #cccccc;
    --grey-5: #c0c0c0;
    --grey-6: #b3b3b3;
    --grey-7: #a6a6a6;
    --grey-8: #999999;
    --grey-9: #8d8d8d;
    --grey-10: #808080;
    --grey-11: #737373;
    --grey-12: #666666;
    --grey-13: #5a5a5a;
    --grey-14: #4d4d4d;
    --grey-15: #404040;
    --grey-16: #333333;
    --grey-17: #262626;
    --grey-18: #1a1a1a;
    --grey-19: #0d0d0d;
}
