.footer {
    background: #171d1f;
    padding: 115px 0 30px;
    position: relative;
}

.footer .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a {
    color: var(--grey-3);
}

.footer a:hover {
    color: var(--white);
}

.footer__image {
    width: 74px;
    max-width: 14.5vw;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__content > *:last-child {
    margin-left: auto;
}

.footer__text {
    color: var(--grey-3);
    font-size: var(--font-size-s);
}

.footer__socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: var(--spacing-xxl);
}

.footer__socials a:not(:first-child) {
    margin-left: var(--spacing-xl);
}

.footer__socials svg {
    fill: var(--grey-3);
}

.footer__socials a:hover svg {
    fill: var(--white);
}
