.grid {
    display: grid;
}

@media screen and (max-width: 820px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .grid--image--right {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 821px) {
    .grid--2--col {
        grid-template-columns: 50% 50%;
    }
    .grid--3--col {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: var(--gutter);
    }
    .grid--blog {
        grid-template-columns: 60% 1fr;
        grid-gap: var(--gutter);
    }
}

@media screen and (min-width: 1200px) {
    .grid--3--col {
        grid-gap: calc(var(--gutter) + 10px);
    }
}

.grid__col--justify--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid__row {
    display: block;
}

.grid__col > .grid__row,
.grid__row:not(:last-child) {
    margin-bottom: var(--spacing-xxxl);
}

.grid__row--medium:not(:last-child) {
    margin-bottom: calc(var(--spacing-xxxl) * 1.5);
}

.grid__row--large:not(:last-child) {
    margin-bottom: calc(var(--spacing-xxxxl) * 2);
}

.grid__card {
    background-color: var(--white);
    box-shadow: var(--box-shadow-l);
    padding: calc(var(--gutter) + 10px) var(--gutter) var(--gutter);
    border-radius: var(--border-radius-l);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 820px) {
    .grid__card {
        margin-bottom: var(--spacing-xxxl);
        padding: calc(var(--gutter) + 20px) calc(var(--gutter) + 10px);
    }
}

.grid__card__icon {
    max-width: 110px;
    width: 100%;
    margin: auto;
    padding: 10px 0;
}

@media screen and (max-width: 820px) {
    .grid__card__icon {
        padding: 0;
    }
}

.grid__card__header {
    font-weight: var(--font-weight-bold);
    font-size: 21px;
    margin-bottom: 20px;
    letter-spacing: -0.1px;
    display: flex;
    align-items: center;
    white-space: pre;
}

.grid__card__header__icon {
    margin-right: var(--spacing-s);
}

.grid__card__description {
    font-size: 17.25px;
    line-height: 1.51;
    opacity: 0.95;
    letter-spacing: -0.1px;
}
