.iframe__wrapper {
    height: 100vh;
    position: relative;
    width: 100%;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
}

iframe {
    border: 0;
    height: 150vh;
    min-height: 1100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
