.ui-inputtext {
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
    padding: 0 var(--spacing);
    transition: border var(--transition), box-shadow var(--transition), background-color 5000s ease-in-out 0s;
    height: var(--input-height);
    box-shadow: 0 0 0 1000px var(--white) inset, 0 0 0 1px rgba(0, 0, 0, 0);
    width: 100%;
}

select.ui-inputtext {
    padding-right: 38px;
}

.ui-inputtext:hover {
     border-color: var(--border-colour-dark);
 }

.ui-inputtext:focus {
     border-color: var(--primaryColour);
     box-shadow: 0 0 0 1000px var(--white) inset, 0 0 0 1px var(--primaryColour);
 }

.ui-inputtext__wrapper {
    position: relative;
    cursor: pointer;
}

.ui-inputtext__wrapper:after {
    content: " ";
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    z-index: 1;
    height: 24px;
    width: 24px;
    pointer-events: none;
}

textarea.ui-inputtext {
    padding-top: var(--spacing);
    min-height: 90px;
    display: block;
}

.ui-label {
    user-select: none;
    display: block;
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-bold);
    padding-bottom: var(--spacing-xs);
    letter-spacing: 0.1px;
    line-height: var(--line-height);
    cursor: pointer;
}

