@import "karla/karla.css";
@import "reset.css";
@import "variables.css";
@import "colours.css";
@import "header.css";
@import "nav.css";
@import "buttons.css";
@import "grid.css";
@import "utils.css";
@import "hero.css";
@import "modal.css";
@import "inputs.css";
@import "segment.css";
@import "details.css";
@import "rotate-word.css";
@import "scrollOut.css";
@import "vhn-widget.css";
@import "footer.css";

.hide--overflow {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background: var(--body-bg);
}

body {
    color: var(--text-colour);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.header {
    padding: var(--gutter) 0;
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--gutter);
}

@media screen and (min-width: 1200px) {
    .wrapper {
        padding: 0 calc(var(--gutter) * 2);
    }
}

.widget__wrapper {
    margin-top: var(--spacing);
    min-height: 76px;
    position: sticky;
    top: var(--spacing);
    z-index: 1;
}

@media screen and (max-width: 820px) {
    .widget__wrapper {
        position: static;
        margin-top: var(--gutter);
    }
}

vhn-form {
    background-color: transparent !important;
}
